body {
  cursor:crosshair
}
.container{

}
#display {
  z-index:0;
  position: fixed;
  left:50%;

  -webkit-transform: translate(-50%,0);
  -ms-transform: translate(-50%,0);
  -moz-transform: translate(-50%,0);
  -o-transform: translate(-50%,0);
  transform: translate(-50%,0);
}
#buttons {
  position: fixed;
  bottom:10px;
  width: 300px;
  margin-left:50%;
  z-index:10;
  -webkit-transform: translate(-50%,0);
  -ms-transform: translate(-50%,0);
  -moz-transform: translate(-50%,0);
  -o-transform: translate(-50%,0);
  transform: translate(-50%,0);
  text-align: center;
}
#buttons div {
  display: inline-block;
  width:80px;
  position:relative;
  z-index: 10;
  color:RGB(50,50,50);
  text-align: center;
  cursor:pointer;
  border: 2px dashed RGB(50,50,50);
}

@media only screen and (max-width:800px){
  #buttons {
    bottom:30px;
    font-size:14px;
  }
  
}