body {
  cursor:crosshair
}
.container{

}
#display {
  z-index:0;
  position: fixed;
  left:50%;
  transform: translate(-50%,0);
}
#buttons {
  position: fixed;
  bottom:10px;
  width: 300px;
  margin-left:50%;
  transform: translate(-50%,0);
  text-align: center;
}
#buttons div {
  display: inline-block;
  width:80px;
  position:relative;
  z-index: 10;
  color:RGB(50,50,50);
  text-align: center;
  cursor:pointer;
  border: 2px dashed RGB(50,50,50);
}